button {
    height: 30px;
    width: 60px;
    background-color: lightgreen;
    border: 1px solid black;
    color: black;
    padding: 3px 3px 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px 2px 2px;
   
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: normal;
  }
  
button:hover{
    background-color: green;
    color: white;
    font-weight: italic;
    border: 1px solid black;
    
  }


img{
    height: 85%;
    width : 16%;
    float : left;
    margin: 5px 2px 2px 10px;
    padding: 3px 3px 3px 3px;
    border: 1px solid black;
  }

.newsBox{
    height: 100px;
    width: 100%;
    border: 1px solid red;
  }
 
.newsSource{
  font-weight: bold;

}

.selectedBox{
  height: 20px;
  width: 100%;
  border: 1px solid black;
  background-color: green;
  color: white;
}

.clock{
  color: gray;
  font-weight: bold;
  margin-top: 1px;
  font-size: 25px;
}

.Header{
  background-color: lightgray;
}