.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  position: relative;
  height: 30vmin;
  width: 80%;
  text-align: center;
  left: 43%;
  margin: 0px 0px 0px 0px;
}


h1{
  margin: 0px 0px 4px 0px;
}

